@use 'tokens/text';
@use 'tokens/color';

:root {
  box-sizing: border-box;
  color: var(--color-text);
  height: 100%;
  font-family: text.$family-base;
  font-size: text.$size-m;
  line-height: text.$line-height-base;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}
