.list {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1em;
  list-style: none;
}

.list__item {
  max-width: var(--readable-line-width);
}

.list__item:not(:last-child) {
  padding-bottom: 0.5em;
}

p + .list {
  margin-top: -0.75em;
}
