.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-width: calc(60em + 2vw);
  margin: auto;
  background: #fff;
}

.page__header,
.page__content,
.page__footer {
  padding-left: var(--page-content-spacing);
  padding-right: var(--page-content-spacing);
}

.page__content {
  flex: 1 0 auto;
}

.page__header,
.page__footer {
  flex: 0 0 auto;
}
