@use 'tokens/text';

:matches(h1, h2, h3, h4, h5, h6) {
  max-width: text.$readable-line-width;
  margin-bottom: calc(#{text.$size-m} / 2);
  font-family: text.$family-headings;
  font-weight: text.$weight-bold;
  line-height: text.$line-height-headings;

  .content &:not(:first-child) {
    margin-top: calc(#{text.$base-line} * 2);
  }

  time + & {
    margin-top: 0 !important;
  }
}

h1 {
  font-size: text.$size-xxl;
}

h2 {
  font-size: text.$size-xl;
}

h3 {
  font-size: text.$size-l;
}

h4,
h5,
h6 {
  font-size: text.$size-m;
  margin-bottom: calc(#{text.$size-m} / 4);
}

h3,
h4,
h5,
h6 {
  .content &:not(:first-child) {
    margin-top: text.$base-line;
  }
}
