@use 'tokens/color';
@use 'tokens/page';
@use 'tokens/text';

.content img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.content img.bordered {
  border: thin solid rgba(0, 0, 0, 0.1);
}
