.content :matches(ul, ol) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1em;
  list-style: none;
}

.content li {
  max-width: var(--readable-line-width);
}

.content li:not(:last-child) {
  padding-bottom: 0.5em;
}

.content p + :matches(ul, ol) {
  margin-top: -0.75em;
}
