.logo {
  font-weight: var(--font-weight-bold);
}

.logo__image {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.logo__item {
  display: inline-block;
}

.logo__item + .logo__item {
  margin-left: 0.5em;
}
