---
layout: main
title: Articles — For Web
description: Articles for front-end developers and web designers
alternates:
  - href: /en/blog/feed.xml
    type: application/atom+xml
---
{% from "components/rss-link/index.njk" import rssLink %}

<div class="content">
  <h1>Статьи {{ rssLink(site.localeData.en.feeds.articles) }}</h1>

  {% for year, articles in collections.articlesEn | groupByYear %}
    <section class="indicate-visited-links">
      <h2>{{ year }}</h2>

      {% for item in articles %}
        <section>
          <time datetime="{% dateToIsoString item.date %}" itemprop="datePublished">
            {% formatDate item.date %}
          </time>
          <h3>
            <a href="{{ item.url }}">
              {{ item.data.title }}
            </a>
          </h3>

          <p>{{ item.data.description }}</p>
        </section>
      {% endfor %}
    </section>
  {% endfor %}
</div>
