button,
.button {
  display: inline-block;
  padding: 0.375em 0.75em;
  font: inherit;
  border: 0;
  color: #fff;
  background: var(--color-blue);
}

button:focus,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em var(--color-blue-light);
}
