:root {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: 3px solid var(--color-blue);
}

hr {
  border: none;
  height: 1px;
  background: var(--color-borders);
}
