---
layout: main
---
{% set isBlog = page.url.startsWith('/blog') %}
{% set isDigest = page.url.startsWith('/digest') %}

{% if isBlog or isDigest %}
  <nav class="breadcrumbs">
    {% if isDigest %}
      <a href="/digest">
        <span aria-hidden="true">←</span> Новости фронтенда без шума
      </a>
    {% endif %}

    {% if isBlog %}
      <a href="/blog">
        <span aria-hidden="true">←</span> Статьи
      </a>
    {% endif %}
  </nav>
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <time datetime="{% dateToIsoString page.date %}" itemprop="datePublished">
      {% formatDate page.date %}
    </time>

    <h1 itemprop="name headline">
      {{ title }}
    </h1>
  </header>

  <div class="content indicate-visited-links" itemprop="articleBody">
    {{ content | safe }}
  </div>
</article>
