---
layout: main
---
{% set isBlog = page.url.startsWith('/ru/blog') %}
{% set isNews = page.url.startsWith('/ru/news') %}
{% set isDigest = page.url.startsWith('/ru/digest') %}

{% if isBlog or isDigest or isNews %}
  <nav class="breadcrumbs">
    {% if isDigest %}
      <a href="/ru/digest">
        <span aria-hidden="true">←</span> Новости фронтенда без шума
      </a>
    {% endif %}

    {% if isBlog %}
      <a href="/ru/blog">
        <span aria-hidden="true">←</span> Статьи
      </a>
    {% endif %}

    {% if isNews %}
      <a href="/ru/news">
        <span aria-hidden="true">←</span> Новости
      </a>
    {% endif %}
  </nav>
{% endif %}

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    {% if cover %}
      <img
        class="cover"
        src="{{ cover.src }}"
        alt="{{ cover.alt }}"
        srcset="{{ cover.srcset }}"
      />
    {% endif %}

    <time datetime="{% dateToIsoString page.date %}" itemprop="datePublished">
      {% formatDate page.date %}
    </time>

    <h1 itemprop="name headline">
      {{ title }}
    </h1>
  </header>

  <div class="content indicate-visited-links" itemprop="articleBody">
    {{ content | safe }}
  </div>
</article>
