{% from "components/header/index.njk" import header %}
{% from "components/footer/index.njk" import footer %}

{% set currentLocale = site.currentLocale(page) %}

<!DOCTYPE html>
<html lang="{{ currentLocale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ page.url }}" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ page.url | absoluteUrl(site.url) }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ description }}">

    {% if og and og.image %}
      <meta property="og:image" content="{{ page.url }}{{ og.image.url }}">
      <meta property="og:image:height" content="{{ og.image.height }}">
      <meta property="og:image:width" content="{{ og.image.width }}">
      <meta property="twitter:image" content="{{ og.image.url }}">
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% if alternates %}
      {% for alternate in alternates %}
        <link rel="alternate" href="{{ alternate.href }}" type="{{ alternate.type }}"/>
      {% endfor %}
    {% endif %}

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <script async defer data-domain="forweb.dev" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body class="page">
    <div class="page__header">
      {{ header(site, page) }}
    </div>

    <main class="page__content">
      {{ content | safe }}
    </main>

    <div class="page__footer">
      {{ footer(site=site) }}
    </div>
  </body>
</html>
