---
layout: main
title: "Дайджест Форвеба: новости фронтенда без шума"
description: "Во фронтенде много хайпа и информационного шума. Соцсети и медиа перегружают нас информацией и вызывают синдром упущенной выгоды. Дайджест Форвеба помогает бороться с этим: выходит раз в две недели и содержит только стоящие внимания события и материалы."
---
<h2 class="heading heading--1">Дайджест Форвеба</h2>

<p class="paragraph paragraph--lead">
  Новости фронтенда без шума
</p>

<p class="paragraph">
  Во&nbsp;фронтенде много хайпа и&nbsp;информационного шума. Соцсети и&nbsp;медиа перегружают нас информацией и&nbsp;вызывают <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%BD%D0%B4%D1%80%D0%BE%D0%BC_%D1%83%D0%BF%D1%83%D1%89%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9_%D0%B2%D1%8B%D0%B3%D0%BE%D0%B4%D1%8B">синдром упущенной выгоды</a>.
</p>

<p class="paragraph">
  Дайджест Форвеба помогает бороться с&nbsp;этим: выходит раз в&nbsp;две недели и&nbsp;содержит только стоящие внимания события и&nbsp;материалы.
</p>

<hr>

<p class="paragraph">Обновление от 27.04.2020: выпуск дайджеста приостановлен.</p>

<h3 class="heading heading--2">Архив выпусков</h3>

{% for item in collections.digest | sort(true, false, 'fileSlug') %}
  <section style="margin: 2em 0">
    <time datetime="{% dateToIsoString item.date %}">
      {% formatDate item.date %}
    </time>
    <h4 class="heading heading--3">
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </h4>
    <p class="paragraph">{{ item.data.description }}</p>
  </section>
{% endfor %}

