---
layout: main
title: For Web
description: "Годнота для фронтендеров и дизайнеров: свежие статьи, доклады, инструменты и многое другое"
---
{% from "components/latest-articles-list-ru/index.njk" import latestArticlesListRu %}
{% from "components/rss-link/index.njk" import rssLink %}

<div class="content">
  <h1>
    Годнота для фронтендеров
  </h1>

  <p class="paragraph--lead">С 2014 года ежедневно публикуем свежие статьи, доклады, инструменты и многое другое в <a href="tg://resolve?domain=forwebdev">Телеграме</a>, <s title="ВКонтакте сотрудничает с правительством РФ и способствует политическим репрессиям"><a href="https://vk.com/forwebdev">ВКонтакте</a></s> и <a href="https://twitter.com/forwebdev">Твитере</a></p>

  <section>
    <h2>
      <a href="/ru/blog">Статьи</a> {{ rssLink(site.localeData.ru.feeds.articles) }}
    </h2>

    {{ latestArticlesListRu(collections) }}
  </section>

  <section>
    <h2>Спонсоры</h2>
    <p>
      Мы не публикуем рекламу благодаря поддержке наших подписчиков на <a href="https://www.patreon.com/forweb" rel="nofollow">Patreon</a> и <a href="https://boosty.to/forweb" rel="nofollow">Boosty</a>. Спасибо нашим ключевым спонсорам:
    </p>

    <ul>
      <li>
        Здесь может быть ссылка на вас или ваш проект :)
      </li>
    </ul>
  </section>
</div>
