---
title: Новости фронтенда — For Web
permalink: "{{ site.localeData.ru.feeds.news }}"
eleventyExcludeFromCollections: true
---
{% set feedUrl = page.url | absoluteUrl(site.url) %}
{% set posts = collections.news %}

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
  <link href="{{ feedUrl }}" rel="self" />
  <link href="{{ site.url }}" />
  <updated>{{ posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ feedUrl }}</id>
  <author>
    <name>{{ site.localeData.ru.author.name }}</name>
    <email>{{ site.localeData.ru.author.email }}</email>
  </author>
  {%- for post in posts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
