---
layout: main
title: Новости фронтенда — For Web
description: Последние новости из мира фронтенда
alternates:
  - href: /news/feed.xml
    type: application/atom+xml
---
{% from "components/rss-link/index.njk" import rssLink %}

<div class="content">
  <h1>Новости фронтенда {{ rssLink(site.feeds.ru.news) }}</h1>

  {% for year, news in collections.news | groupByYear %}
    <section class="indicate-visited-links">
      <h2>{{ year }}</h2>

      {% for item in news %}
        <section>
          <time datetime="{% dateToIsoString item.date %}" itemprop="datePublished">
            {% formatDate item.date %}
          </time>
          <h3>
            <a href="{{ item.url }}">
              {{ item.data.title }}
            </a>
          </h3>

          <p>{{ item.data.description }}</p>
        </section>
      {% endfor %}
    </section>
  {% endfor %}
</div>
