@use 'tokens/text';

$image-size: 3rem;
$safe-area: 0.5rem;

.logo {
  position: relative;
  left: $safe-area * -1;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: text.$weight-bold;
}

.logo__link {
  display: block;
  padding: $safe-area;
}

.logo__image {
  display: inline-block;
  width: $image-size;
  height: $image-size;
  vertical-align: middle;
  margin-right: 0.5em;
}
