{% macro logo() %}
  <div class="logo">
    <a class="unstyled-link logo__link" href="/">
      <img
        class="logo__image"
        src="/assets/images/logo.svg"
        alt="Логотип For Web"
      />
      For Web
    </a>
  </div>
{% endmacro %}
