{% macro logo(href) %}
  <div class="logo">
    <a class="unstyled-link logo__link" href="{{ href }}">
      <img
        class="logo__image"
        src="/assets/images/logo.svg"
        alt="For Web"
      />
      For Web
    </a>
  </div>
{% endmacro %}
