@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code'), url('/assets/fonts/fira-code/regular.woff2'),
    url('/assets/fonts/fira-code/regular.woff');
  font-weight: 400;
  font-display: swap;
}
