---
layout: main
---
<div class="content">
  <h1>Тестовая страница</h1>

  <h2>Типографика</h2>
  <p class="paragraph--lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas esse rem eveniet delectus! Doloribus laboriosam nam optio sequi tempore molestiae a eligendi repellendus vel facere veritatis deleniti rerum, in dolores.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>

  <ol>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
    <li>Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis</li>
    <li>Quia quis ab quibusdam doloremque voluptatem?</li>
    <li>Suscipit pariatur labore esse</li>
  </ol>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>

  <ul>
    <li>lorem ipsum dolor sit amet consectetur adipisicing elit;</li>
    <li>ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis;</li>
    <li>quia quis ab quibusdam doloremque voluptatem;</li>
    <li>suscipit pariatur labore esse.</li>
  </ul>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>

  <h3>Третий уровень</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>

  <img src="https://habrastorage.org/webt/rv/ms/3h/rvms3hqdbv2vqkzt0vqb-sjwe0g.jpeg" alt="Скриншот сервиса Amplifr в момент перетаскивания файла" height="919" width="1200" />

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>

  <h4>Четвёртый уровень</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>

  <blockquote>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, harum voluptatem placeat assumenda aliquid officia repudiandae voluptate provident praesentium perferendis. Quia quis ab quibusdam doloremque voluptatem? Suscipit pariatur labore esse.</p>
  </blockquote>

  <h2>Формы</h2>

  <form action="" class="form">
    <div class="form__row">
      <label class="label" for="login">Логин</label>
      <input class="input" id="login" type="text" required />
    </div>

    <div class="form__row">
      <label class="label" for="password">Пароль</label>
      <input class="input" id="password" type="password" required />
    </div>

    <div class="form__row">
      <button class="button" type="submit">Войти</button>
    </div>

  </form>

  <form action="" class="form">
    <div class="form__row form__row--inline">
      <input class="input" required id="email" type="email" placeholder="Эл. почта" required />
      <button class="button" type="submit">Подписаться</button>
    </div>
  </form>
</div>
