.form {
  margin-top: calc(var(--base-line) * 2);
  margin-bottom: calc(var(--base-line) * 2);
}

.form__row {
  max-width: var(--readable-line-width);
}

.form__row + .form__row {
  margin-top: var(--base-line);
}
