.input {
  display: block;
  width: 100%;
  padding: 0.375em 0.75em;
  font: inherit;
  border: 1px solid #ced4da;
}

.input:focus {
  outline: 0;
  border-color: var(--color-blue-light);
  box-shadow: 0 0 0 0.2em var(--color-blue-light);
}
