{% from "components/logo/index.njk" import logo %}
{% from "components/locale-switcher/index.njk" import localeSwitcher %}

{% macro header(site, page) %}
  {% set currentLocale = site.currentLocale(page) %}

  <header class="header">
    {{ logo(href="/" + currentLocale) }}
    {{ localeSwitcher(site.locales, currentLocale) }}
  </header>
{% endmacro %}
