@use 'tokens/text';

.form {
  margin-top: text.$base-line;
  margin-bottom: calc(#{text.$base-line} * 2);
}

.form:last-child {
  margin-bottom: 0;
}

.form__row {
  max-width: text.$readable-line-width;
}

.form__row--inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__row--inline > * + * {
  margin-left: calc(#{text.$base-line} / 2);
}

.form__row--inline > .button {
  flex: 0 0 auto;
}

.form__row--inline > .input {
  flex: 1 1 auto;
}

.form__row + .form__row {
  margin-top: calc(#{text.$base-line} * 0.75);
}
