$blue: #005ea5;
$blue-light: #139ceb;
$red: #cd192e;
$purple: #4c2c92;
$rss: #f60;

$outline: $red;

$link: $blue;
$link-hover: $red;
$link-visited: $purple;

$borders: rgba(0, 0, 0, 0.1);

$text: #222;
$caption: #666;
