$family-base: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
$family-headings: $family-base;
$family-code: Fira Code, Courier New, Courier, monospace;

$size-s: 0.875rem;
$size-m: var(--font-size-m);
$size-l: var(--font-size-l);
$size-xl: var(--font-size-xl);
$size-xxl: var(--font-size-xxl);

$weight-normal: 400;
$weight-bold: 600;
$line-height-base: 1.5;
$line-height-headings: 1.3;
$base-line: var(--base-line);
$readable-line-width: 40em;

:root {
  --base-line: calc(var(--font-size-m) * #{$line-height-base});
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  @media (min-width: 64em) {
    --font-size-m: 1.125rem;
    --font-size-l: 1.375rem;
    --font-size-xl: 1.75rem;
    --font-size-xxl: 2.25rem;
  }
}
