.chat {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}

.chat__message {
  display: table;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 40em;
  padding: 1em;
  background-color: var(--color-message-bubble);
  box-shadow: 0 0.125em 0 var(--color-message-bubble-shadow);
  border-radius: 0.125em 1em 1em;
}

.chat__message--out {
  align-self: flex-start;
  margin-right: 10%;
}

.chat__message--in {
  align-self: flex-end;
  margin-left: 10%;
  border-radius: 1em 1em 0.125em;
}
