@use 'tokens/page';

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-width: calc(#{page.$max-width} + 2vw);
  margin: auto;
  background: var(--color-background);
}

.page__header,
.page__content,
.page__footer {
  padding-left: page.$content-spacing;
  padding-right: page.$content-spacing;
}

.page__content {
  flex: 1 0 auto;
}

.page__header,
.page__footer {
  flex: 0 0 auto;
}
