---
layout: main
title: For Web
description: Годнота для фронтендеров и дизайнеров
---
{% from "components/rss-link/index.njk" import rssLink %}

<div class="content">
  <h1>
    Годнота для фронтендеров
  </h1>

  <p class="paragraph--lead">С 2014 года ежедневно публикуем свежие статьи, доклады, инструменты и многое другое в <a href="tg://resolve?domain=forwebdev">Телеграме</a>, <a href="https://vk.com/forwebdev">ВКонтакте</a> и <a href="https://twitter.com/forwebdev">Твитере</a></p>

  <section>
    <h2>
      <a href="/blog">Наши статьи</a> {{ rssLink(site.feeds.articles) }}
    </h2>

    <ul>
      {% set latestArticles = collections.articles | sort(true, false, 'date') | sliceArray(0, 3) %}
      {% for item in latestArticles %}
        <li class="indicate-visited-links">
          <a href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
      {% endfor %}
      <li>Все статьи → <a href="/blog">/blog</a></li>
    </ul>
  </section>

  <section>
    <h2>
      <a href="/news">Новости фронтенда</a> {{ rssLink(site.feeds.news) }}
    </h2>

    <ul>
      {% set latestNews = collections.news | sort(true, false, 'date') | sliceArray(0, 2) %}
      {% for item in latestNews  %}
        <li class="indicate-visited-links">
          <a href="{{ item.url }}">{{ item.data.title }}</a>
        </li>
      {% endfor %}
      <li>Все новости → <a href="/news">/news</a></li>
    </ul>
  </section>

  <section>
    <h2>Архив</h2>

    <ul>
      <li>
        <a href="/digest">
          Новости фронтенда без шума
      </li>
    </ul>
  </section>
</div>
