---
layout: main
title: For Web
description: Годнота для фронтендеров и дизайнеров
---
<div class="content">
  <h1>
    Годнота для фронтендеров и дизайнеров в <a href="https://t.me/forwebdev">Телеграме</a>, <a href="https://vk.com/forwebdev">ВКонтакте</a> и <a href="https://twitter.com/forwebdev">Твитере</a>
  </h1>

  <p>Наши материалы:</p>

  <ul>
    {% for article in collections.articles | sort(true, false, 'date') %}
      <li>
        <a href="{{ article.url }}">{{ article.data.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p>В архиве:</p>

  <ul>
    <li>
      <a href="/digest">
        Новости фронтенда без шума
    </li>
  </ul>
</div>
