---
layout: main
title: For Web
description: Годнота для фронтендеров и дизайнеров
---
<h2 class="heading heading--1">
  Годнота для фронтендеров и дизайнеров в <a href="https://t.me/forwebdev">Телеграме</a>, <a href="https://vk.com/forwebdev">ВКонтакте</a> и <a href="https://twitter.com/forwebdev">Твитере</a>
</h2>

<p>Наши материалы:</p>

<ul class="list">
  <li class="list__item">
    <a href="/blog/about-postcss">
      О PostCSS от его создателя: интервью с Андреем Ситником
    </a>
  </li>

  <li class="list__item">
    <a href="/blog/2020-04-29-data-state">
      Состояние загружаемых данных
    </a>
  </li>

  <li>
    <a href="/blog/2020-05-04-code-duplication">Когда можно дублировать код?</a>
  </li>

  <li class="list__item">
    <a href="/blog/8-things-for-beginners">8 вещей, которые я хотел бы знать в начале карьеры</a> <sup>перевод</sup>
  </li>

  <li class="list__item">
    <a href="/blog/principles-for-writing-idiomatic-html">Принципы написания однородного, идиоматического HTML</a> <sup>перевод</sup>
  </li>

  <li class="list__item">
    <a href="/digest">
      Новости фронтенда без шума
    </a> <sup>на паузе</sup>
  </li>

  <li class="list__item">
    <a href="https://github.com/forwebdev/ui-developer-tips" target="_blank" rel="noopener noreferrer">
      Советы для разработчика интерфейсов
    </a>
  </li>
</ul>
